<div class="search-box">
  <search-box></search-box>
</div>
<div class="job-listings">
  <ng-container *ngIf="filteredJobListings.length > 0; else noJobs">
    <mat-card *ngFor="let job of filteredJobListings">
      <mat-card-header>
        <div class="card-header">
          <h3>{{ job.title }}</h3>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="card-body">
          <p>Details: {{ job.details }}</p>
          <p>Location: {{ job.location }}</p>
          <p>Preferred Time: {{ job.timePreference == null ? '-' : job.timePreference  }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-footer">
          <p>{{ job.type }}</p>
        </div>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <ng-template #noJobs>
    <mat-card class="no-jobs-card">
      <mat-card-content>
        <p>No jobs currently available with the specified filters.</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>

<div class="footer" *ngIf="filteredJobListings.length > 0">
  <mat-paginator
    [length]="filteredJobListings.length"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
