<div class="job-listings">
  <mat-card *ngFor="let job of jobListings">
    <mat-card-header>
      <div class="card-header">
        <h3>{{ job.title }}</h3>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="card-body">
        <p> Details: {{ job.details }}</p>
        <p>Location: {{job.location }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="card-footer">
        <p>{{ job.type }}</p>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
