
.job-listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 columns of equal width
  grid-gap: 20px; // Spacing between cards
}

mat-card {
  width: 100%; // Make sure each card takes up full width of its grid cell
}
