<mat-nav-list class="below-menu">
  <div class="header-container">
    <h3 mat-subheader>Job timing</h3>
    <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"  (click)="resetFilter('timings')">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <mat-radio-group [value]="selectedTiming" (change)="updateTiming($event)">
    <mat-list-item *ngFor="let timing of timings">
      <mat-radio-button [id]="timing.id" [value]="timing.value"
                        [checked]="timing.value === selectedTiming">
        {{ timing.value }}
      </mat-radio-button>
    </mat-list-item>
  </mat-radio-group>
</mat-nav-list>