<mat-nav-list class="below-location">
  <div class="header-container">
    <h3 mat-subheader>Job Location</h3>
    <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"  (click)="resetFilter('location')">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <mat-radio-group (change)="updateLocation($event)">
    <mat-list-item *ngFor="let location of locations">
      <mat-radio-button [id]="location.id" [value]="location.value" 
                        [checked]="location.value === selectedLocation">
        {{ location.value }}
      </mat-radio-button>
    </mat-list-item>
  </mat-radio-group>
</mat-nav-list>
