<div class="below-menu">
  <h3 style="text-align: center;">Job Location</h3>
  <div>
    <input type="radio" name="location" id="chennai" value="Chennai" (change)="updateLocation($event)"> 
    <label for="chennai">Chennai</label>
  </div>
  <div>
    <input type="radio" name="location" id="coimbatore" value="Coimbatore" (change)="updateLocation($event)"> 
    <label for="coimbatore">Coimbatore</label>
  </div>
  <div>
    <input type="radio" name="location" id="hyderabad" value="Hyderabad" (change)="updateLocation($event)"> 
    <label for="hyderabad">Hyderabad</label>
  </div>
  <div>
    <input type="radio" name="location" id="lucknow" value="Lucknow" (change)="updateLocation($event)"> 
    <label for="lucknow">Lucknow</label>
  </div>
  <div>
    <input type="radio" name="location" id="jaipur" value="Jaipur" (change)="updateLocation($event)"> 
    <label for="jaipur">Jaipur</label>
  </div>
  <div>
    <input type="radio" name="location" id="bengaluru" value="Bengaluru" (change)="updateLocation($event)"> 
    <label for="bengaluru">Bengaluru</label>
  </div>
  <div>
    <input type="radio" name="location" id="vellore" value="Vellore" (change)="updateLocation($event)"> 
    <label for="vellore">Vellore</label>
  </div>
  <div>
    <input type="radio" name="location" id="ahmedabad" value="Ahmedabad" (change)="updateLocation($event)"> 
    <label for="ahmedabad">Ahmedabad</label>
  </div>
  <div>
    <input type="radio" name="location" id="us" value="US" (change)="updateLocation($event)"> 
    <label for="us">US</label>
  </div>
  <div>
    <input type="radio" name="location" id="manila" value="Manila" (change)="updateLocation($event)"> 
    <label for="manila">Manila</label>
  </div>
</div>
