<div>
  <!-- Search bar -->
  <input type="text" placeholder="Search..." (keyup)="onSearch(($any($event.target).value))" />

  <!-- Jobs list -->
  <div *ngIf="filteredJobListings.length > 0; else noJobs">
    <ng-container *ngFor="let job of filteredJobListings | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
      <ng-content ></ng-content>
    </ng-container>
    <!-- Pagination -->
    <mat-paginator [length]="filteredJobListings.length" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 25]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>

  <!-- No jobs message -->
  <ng-template #noJobs>
    <mat-card class="no-jobs-card">
      <mat-card-content>
        <p>No jobs currently available with the specified filters.</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
