 /* refferel.component.css or your global styles */
app-generic-search-pagination {
  display: block;
  width: 100%;
  height: auto; /* Adjust height as needed */
}

mat-card {
  margin-bottom: 20px; /* Add spacing between each card */
}

.card-body {
  padding: 10px;
}

.card-footer {
  padding: 10px;
}
